header {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

header span {
	font-size: 12px;
	font-family: monospace;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.agent-state {
	display: inline-block;
	height: 70vh;
	overflow-y: scroll;
	border: 2px solid hsl(220, 75%, 32%);
	border-radius: 13px;
	background-color: hsl(220, 75%, 52%);
	padding: 10px;
	width: 48%;
}

.log {
	display: inline-block;
	padding: 10px;
	border: 2px solid hsl(150, 75%, 32%);
	border-radius: 13px;
	background-color: hsl(150, 75%, 52%);
	height: 70vh;
	overflow-y: scroll;
	width: 48%;
}

.log-items {
	font-size: 11pt;
	font-family: monospace;
}

.log-item-error {
	color: red;
}
